#calculator{
    background-color: slategrey;
    width: 112px;
    height: 150px;
    margin: 0 auto;
    padding: 15px;
    color: white;
}
button{
    border-radius: 12.5px;
    color: white;
    background-color: silver;
    width: 25px;
    height: 25px;
}
.operator{
    background-color: orange;
}