.row{
    display: flex;
    justify-content: space-between;

}
.col{
    background-color: rgba(68, 0, 255, 0.342);
    margin: 10px;
    flex: 1;

}
.col-2{
    background-color: rgba(68, 0, 255, 0.342);
    margin: 10px;
    flex: 2;
}
.col-3{
    background-color: rgba(68, 0, 255, 0.342);
    margin: 10px;
    flex: 3;
}